.Login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -2.5rem;
}

.Login__span{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: -5rem;   
    color:white;
    text-indent: 0.5rem;
    
}

.Login-form{
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.5rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Login-form__input-span{
    padding: .5rem;
}

.Login-Form__label{
    font-size: 17px;
    color: white;
}

.Login-form__input-span{
    display: flex;
    flex-direction: column;
}

.Login-Form__input{
    width: 320px;
    height: 40px;
    background-color: white;
    border: none;
    color: black;
}

input {
    padding-left: 15px;
    padding-right: 15px;
}

.login_btn{
    width: 120px;
    margin-top: 15px;
    background-color: white;
    border-color: none;
    color: #8F001E;
    font-weight: bold;
}

h4 {
    color: white;
}

.signup_btn{
    margin-top: -2rem;
    background: none;
    border: none;
    text-decoration: underline;
}

