body {
    overflow-x: hidden;
}
.Dashboard__cont{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex; 
    font-family: "Inter", sans-serif;  
    z-index: 1;  
    position: fixed;
}

/* for hello user */
.Dashboard__cont-helloUser{
    border: 2px solid #8F001E;
    border-radius: 10px;
    width: 100%;
    max-width: 322px; /* Limit the width on larger screens */
    font-family: "Inter",sans-serif;
    padding: 0px 0px 10px 10px;
    font-size: 14px;
}

.Dashboard__cont-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 40px;
}

.Dashboard__cont-text, .Dashboard__cont-text__h1, .Dashboard__cont-text__p2{
    padding-left: 10px;
}

.Dashboard__cont-text {
    padding-top: 10px;
}

.Dashboard__cont-text__h1 {
    margin-top: 2.5px;
    margin-bottom: -2.5px;
}

.Dashboard__cont-column{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.Dashboard__cont-column-main{
    display: flex;
    flex-wrap: wrap;
}

.DashboardNotes_note__textarea{
    width: 336px;
    height:457px;
    padding: 35px 15px 15px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #8F001E;
    color: white !important;
    padding-top: 3rem;
}

.DashboardAppointment_sample1 {
    margin-top: 1rem;
    background-color: #8F001E;
    border-radius: 10px;
    height: 70px;
    cursor: pointer;
    margin-bottom: -0.5rem;
}

.DashboardAppointment_row1 {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.DashboardAppointment_row2 {
    padding-left: 15px;
    margin-top: -1.8rem;
}

.DashboardAppointment_patientName {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3rem;
    font-family: "Inter", sans-serif;  
}

.DashboardAppointment_status {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: "Inter", sans-serif;  
}

.DashboardAppointment_schedule {
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;  
    font-size: 12px;
    font-weight: 400;
}

.DashboardAppointment_note {
    position: relative;
}

.DashboardAppointment_label {
    position: absolute;
    margin-top: 0.5rem;
    top: 40px;
    left: 20px;
    font-weight: bold;
    color: black;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.DashboardNotes_label{
    position: absolute;
    margin-top: 1rem;
    margin-left: 5px;
    /* top: 120px; */
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0px 0px 10px 10px;
    font-size: 16px;
}
  
.DashboardAppointment_note__textarea {
    width: 336px;
    min-height: 260px;
    padding: 30px 15px 15px  15px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #8F001E;
    font-family: 'Inter';
    color: black;
}

.Dashboard__shortcut-column{
    display: flex;
    flex-direction: column;
    margin-top: -1.5rem;
    margin-left: -10px;
    font-size: 12px;
    flex-wrap: wrap;
}

.Dashboard__cont-add_patient,
.Dashboard__cont-add_prescription{
    background-color: #8F001E;
    margin-bottom: 10px;
    text-align: center;
    width: 190px;
    height: 2.25rem;
    border: none;
    color: white;
    font-size: 13.5px;
}

.Dashboard__cont-add_patient a, .Dashboard__cont-add_patient a:hover,
.Dashboard__cont-add_prescription a, .Dashboard__cont-add_prescription a:hover {
    color: white;
}

.Dashboard__cont-add_patient {
    margin-top: -0.5rem;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 1328px) {
    .Dashboard__shortcut-column {
        margin-top: 2px;
        margin-left: 2px;
    }

    .DashboardNotes_note__textarea {
        margin-top: 1.5rem;
    }

    .DashboardNotes_label {
        margin-top: 30.5rem;
    }
}