body {
    overflow-x: hidden;
}

.Dashboard__cont{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    display: flex;
    font-family: "Inter", sans-serif;   
}

/* for hello user */
.Dashboard__cont-helloUser{
    border: 2px solid #8F001E;
    border-radius: 10px;
    width: 100%;
    max-width: 342px; /* Limit the width on larger screens */
    font-family: "Inter",sans-serif;
    padding: 0px 0px 10px 10px;
}

.Dashboard__cont-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 40px;
}
.Dashboard__cont-column{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.Dashboard__cont-column-main{
    display: flex;
}

.DashboardNotes_note__textarea{
    width: 350px;
    height:423px;
    padding: 40px 15px 15px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #8F001E;
    color: white !important;
    font-style: italic;
}

.DashboardAppointment_note {
    position: relative;
    
}
  
.DashboardAppointment_label {
    position: absolute;
    top: 40px;
    left: 15px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

.DashboardNotes_label{
    position: absolute;
    top: 150px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-style: italic;
    border: none;
    padding: 0px 0px 10px 10px

    
}
  
.DashboardAppointment_note__textarea {
    width: 354px;
    height: 300px;
    padding: 40px 15px 15px 15px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #8F001E;
    font-family: 'Inter';
    color: black;

}

.Dashboard__cont-add_patient,
.Dashboard__cont-add_prescription{
  background-color: #8F001E;
   margin-bottom: 10px;
}