.Header__Cont{
    display: flex;
}

.timeBox, .UserName{
    border-radius: 10px;
    background-color: #8F001E;
    width: 80px;
    margin-bottom: 30px;
    font-family: 'Inter';
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.UserName{
    margin-left: auto;
}