body {
    overflow-x: hidden; /*in order to remove the scrollbar on the bottom part of the signup page*/
}
.Signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Signup-Text{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: -5rem; 
    color:white;
    text-indent: 0.5rem;
}

.Signup_Form{
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.5rem;
    flex-direction: column;
    align-items: center;
}

.Signup_Form__span{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.Signup_Form__span-label{
    font-size: 17px;
    color: white;
}

.h4{
    color: white;
}

.Signup_Form__span-input{
    width: 320px;
    height: 40px;
    background-color:white ;
    border: none;
    color: black;
}

input {
    padding-left: 15px;
    padding-right: 15px;
}

.Signup_Form__button{
    width: 120px;
    margin-top: 15px;
    background-color:white;
    border-color: none;
    color: #8F001E;
    font-weight: bold;
}

.login_btn {
    color: white;
    margin-top: -2rem;
    background: none;
    border: none;
    text-decoration: underline;
}