body{
    background: linear-gradient(to top, #31000a, #8f001e);
}

.Signup_Form{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

h2{
    font-size: 32px;
    font-weight: bold;
}

.Signup_Form__span-text{
    text-decoration: underline;
}

.Signup_Form__span_input input   {
    display: block;
    background-color: white;
}