/* App.css (or your global styles) */

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Header.module.css */

.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
  background-color: #333; 
}

.Logo {
  width: 100px;
  height: auto;
  margin-right: 1rem;
  animation: logo-spin infinite 20s linear; 
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
